<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>This is an invitation to join our platform. Please click the link below to create an account.</p>
    <p>You are receiving this email because you have been invited to join our platform by <%= @inviter.username %></p>
    <button><a href="<%= @url %>">Join Now</a></button>
    <p>Looking forward to seeing you there!</p>
    <p>Thanks!</p>
  </body>
</html>